.navbar-nav .nav-link.active {
    font-weight: bold; /* Highlight active link */
  }
  
/* Custom CSS for carousel indicators */
.carousel-indicators {
  margin: 20px 0; /* Adjust margin as needed */
}

.carousel-indicators button {
  margin-right: 10px; /* Adjust margin between indicators */
  width: 20px; /* Adjust width of indicators */
  height: 5px; /* Adjust height of indicators */
  border-radius: 0; /* Remove border radius */
  background-color: #ddd; /* Indicator background color */
  border: none; /* Remove border */
}

.carousel-indicators button.active {
  background-color: #75d662; /* Active indicator color */
}

.card-scrollable {
  overflow-y: auto;
  max-height: 300px;
}

.products-page-scrollable {
  overflow-y: auto;
  max-height: 500px;
}

.product-images {
  max-height: 116px;
}

#aboutUsSection {
  font-family: arial black, sans-serif;
}
/* Flashing */
.hover13 figure:hover img {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

